.aircon-content {
  position: absolute;
  width: 32vw;
  height: 31vh;
  background: rgba(0, 0, 0, 0.4);
  top: 40.3vh;
  left: 1vw;
  border-radius: 30px;

  button {
    font-family: 'Jua', sans-serif;
  }
}

.aircon-content-title {
  position: absolute;
  font-size: 4vh;
  top: 8vh;
  left: 3vw;
}

.aircon-temp {
  position: absolute;
  font-size: 6vh;
  top: 8.4vh;
  left: 9vw;
}

.aircon-temp-control {
  position: absolute;
  top: 5vh;
  left: 19vw;
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;

  font-size: 3vh;

  width: 4vw;
  height: 20vh;

  background: linear-gradient(180deg, #FF7A7D 0%, #7EA2FF 100%);
}

.temp-control {
  border-radius: 10px;
  width: 100%;
  height: 41.5%;
  opacity: 0;
}

.aircon-onoff {
  position: absolute;
  border-radius: 10px;
  width: 4vw;
  height: 7.8vh;
  top: 6vh;
  left: 25vw;
  font-size: 2.5vh;
  color: #FFA7A7;
  background-color: white;
  border: 2.5px solid #FFA7A7;
}

.aircon-wind-strangth {
  position: absolute;
  border-radius: 10px;
  width: 4vw;
  height: 7.8vh;
  top: 17vh;
  left: 25vw;
  font-size: 2.5vh;
  color: white;
  background-color: #DBDBDB;
  border: 2.5px solid white;
}
