table {
  position: relative;
  margin: auto;
  width: 30vw;
  height: 50vh;
  top: 5.5vh;

  tbody {
    display: flex;
    flex-direction: column;
  }
}

tr {
  display: flex;
  flex-direction: row;
}

td {
  display: flex;
  border: 1px solid white;
  width: 4vw;
  height: 6vh;

  span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    text-align: center;
    font-size: 2vh;
  }
}
