.finedust-content {
  position: absolute;
  width: 32vw;
  height: 20.5vh;
  background: rgba(0, 0, 0, 0.4);
  top: 17.8vh;
  left: 34vw;
  border-radius: 30px;
}

.external-fine-dust {
  position: absolute;
  width: 17vw;
  height: 16vh;
  top: 2vh;
  left: 1.3vw;
}

.fine-dust {
  position: absolute;
  width: 11vmin;
  left: 0.5vw;
  top: 2.5vh;
}
