@font-face {
  font-family: 'Roboto300';
  src: url('./Font/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto400';
  src: url('./Font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto500';
  src: url('./Font/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto700';
  src: url('./Font/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Jua';
  src: url('./Font/Jua-Regular.ttf');
}

@font-face {
  font-family: 'DoHyeon';
  src: url('./Font/DoHyeon-Regular.ttf');
}

@font-face {
  font-family: 'Nanum400';
  src: url('./Font/NanumGothic-Regular.ttf');
}

@font-face {
  font-family: 'Nanum700';
  src: url('./Font/NanumGothic-Bold.ttf');
}

@font-face {
  font-family: 'Nanum800';
  src: url('./Font/NanumGothic-ExtraBold.ttf');
}
