@font-face {
  font-family: 'Nanum400';
  src: url('./Font/NanumGothic-Regular.ttf');
}

@font-face {
  font-family: 'Nanum700';
  src: url('./Font/NanumGothic-Bold.ttf');
}

@font-face {
  font-family: 'Nanum800';
  src: url('./Font/NanumGothic-ExtraBold.ttf');
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('./Font/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'NotoSansMedium';
  src: url('./Font/NotoSansKR-Medium.otf');
}
