@font-face {
  font-family: 'Roboto300';
  src: url('./Font/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto400';
  src: url('./Font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto500';
  src: url('./Font/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto700';
  src: url('./Font/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Jua';
  src: url('./Font/Jua-Regular.ttf');
}

body, html {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #FFFFFF -13.33%, 
    #80C0FF 58.01%, 
    #C080FF 135.42%
  );
  color: #fff;
  margin: 0;
  font-family: 'Jua', 'Roboto400',sans-serif;
}

a {
  color: white;
}
