.light-content {
  position: absolute;
  width: 32vw;
  height: 37vh;
  background: rgba(0, 0, 0, 0.4);
  top: 17.8vh;
  left: 67vw;
  border-radius: 30px;
}

.light-item {
  position: relative;
  float: left;
  left: 1.2vw;
  top: 3vh;
  padding: 0 2.5vw;
  padding-bottom: 2vh;
}

.off {
  padding-bottom: 1.7vh;
}

.light-img {
  width: 9vmin;
}

.room-name {
  font-size: 2.2vmin;
  text-align: center;
}
