.home {
  position: absolute;
  height: 50px;
  font-size: 40px;
  color: white;
  left: 45px;
  top: 40px;
  align-content: center;
}

.home-icon {
  vertical-align: middle;
  width: 45px;
  height: 45px;
}